{:server  {:port #long #or [#env PORT 8080]}
 :db-spec {:jdbcUrl  "jdbc:mysql://localhost:3306/core?useSSL=false&allowPublicKeyRetrieval=true"
           :username "organizze"
           :password "organizze123"}}